@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --body-color:#9B27B00D;
    --sidebar-color:#FFFFFF;
    --primary-color:#9C27B0;
    --primary-color-light:#9B27B00D;
    --toogle-color:#DDDDDD;
    --text-color:#707070;
    --loginbox-color:rgba(0, 128, 255, 0.5);
    --secondarybox-color:#46A2FD;

    --tran-03: all 0.2s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.4s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color-light: #3A3B3C;
    --toggle-color:#FFFFFF;
    --text-color: #CCCCCC;
}

.home .home__nav {
    color: var(--text-color);
    align-items: center;
    justify-content: center;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header.image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
} 

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar header {
    position: relative;
}

.sidebar header .logo {
    display: flex;
    flex-direction: column;
}

.name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

.profe {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toogle {
    position: absolute;
    top: 20%;
    right: 0px;
    height: 35px;
    width: 35px;
    background-color: var(--loginbox-color);
    color: var(--sidebar-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toogle {
    color: var(--text-color);
}

.sidebar.close .toogle {
    width: 100%;
    top: 20%;
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--loginbox-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
} 

body.dark li a:hover .icon,
body.dark li a:hover .text {
    color: var(--text-color);
} 

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toogle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
} 

.toogle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toogle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    margin-left: 30px;
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}



.footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(../img/background-footer.svg);
    background-size: cover;
}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box_footer{
    display: flex;
    flex-direction: column;
    padding: 20px;

}
 .box_footer .logo img{
    width: 180px;
 }

 .box_footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: var(--text-color);
    font-size: 18px;
 }

 .box_footer .h2{
    margin-bottom: 30px;
    color: var(--text-color);
    font-weight: 700;
 }

.box_footer a{
    margin-top: 10px;
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
}

 .box_footer a:hover{
    opacity: 0.8;
 }

 .box_footer a .fab{
    font-size: 20px;
 }

 .box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
 }

 .box__copyright p{
    margin-top: 20px;
    color: var(--text-color);
 }

 .box__copyright hr{
    border: none;
    height: 1px;
    background-color: var(--text-color);
 }
 .home__nav {
    text-decoration: none;
 }

 /* Main Content */
 .cont-flex {
    display: flex;
    flex-wrap: nowrap;
     justify-content: space-between;
 }
 .container {
    width: 100%;
    max-width: 1200px;
    height: 430px;
   
    margin: auto;
 }

 .container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px var(--loginbox-color);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
 }

 .container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
 }

 .container .card img{
    width: 330px;
    height: 220px;
 }

 .container .card h4{
    font-weight: 600;
 }

 .container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
 } 

 
 /* Quejas */
 
 