*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
    font-size: 62.5%; /* 1 rem = 10 px */
}
*,*::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
a {
    text-decoration: none;
}
h1 {  
    font-size: 2rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}
h5{
    font-size: 1rem;
}

/** Header**/
.cont {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
.header {

}

=======
    text-decoration: none;
    font-family: sans-serif;
}


.footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(../img/background-footer.svg);
    background-size: cover;
}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box_footer{
    display: flex;
    flex-direction: column;
    padding: 40px;

}
 .box_footer .logo img{
    width: 180px;
 }

 .box_footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
 }

 .box_footer .h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
 }

.box_footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

 .box_footer a:hover{
    opacity: 0.8;
 }

 .box_footer a .fab{
    font-size: 20px;
 }

 .box_copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
 }

 .box_copyright p{
    margin-top: 20px;
    color: #7a7a7a;
 }

 .box_copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
 }
>>>>>>> 9fd53fad21da00c6403396659ba16fdbdef3868b

